# ------------------------
# Dependencies
# ------------------------
node_modules/

# ------------------------
# Logs & Runtime Files
# ------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ------------------------
# Local Data Storage
# ------------------------
data/logs.json
data/logs.ndjson

# ------------------------
# Test Outputs
# ------------------------
coverage/

# ------------------------
# Environment Variables
# ------------------------
.env
.env.*

# ------------------------
# OS / Editor Files
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ------------------------
# Temporary / Cache
# ------------------------
tmp/
.cache/
